@inherits LayoutComponentBase
<div class="page">
    <header>
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" class="rz-mx-auto rz-my-12">
            <RadzenImage src="/logo.jpg" Style="width: 7rem;" AlternateText="url image" />
            <h1>People-Minded Leadership</h1>
        </RadzenRow>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenComponents />
