@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<span>
    <h1>Start new game</h1>
    <div>
        <button @onclick="NewClicked">New game</button>
    </div>
</span>

<span>
    <h1>Join game</h1>
    
    <div>
        <label>
            GameId:
            <input @bind="gameId" />
        </label>
        <button @onclick="JoinClicked">Join</button>
    </div>

</span>
@code 
{
    private string? gameId;

    private void NewClicked()
    {
        NavigationManager.NavigateTo("/questions/12345");
    }

    private void JoinClicked()
    {
        NavigationManager.NavigateTo("/questions/" + gameId);
    }
}