@page "/questions/{gameid:int}"
@layout UserLayout
@rendermode RenderMode.InteractiveWebAssembly

<PageTitle>Team of Influencers</PageTitle>

<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="100px">
    <h1>Team of Influencers</h1>

    <RadzenCard class="p-1 rz-background-color-secondary-lighter rz-text-align-center rz-m-12">
        <RadzenText TextStyle="TextStyle.Body1">Beantwoordt elke vraag met een score tussen de 1 en 5 sterren</RadzenText>
    </RadzenCard>
</RadzenStack>

@if (_answers == null)
{
    <p><em>Loading...</em></p>
}
else if (_scores == null)
{
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="100px">
        @foreach (var answer in _answers)
        {
            <RadzenCard class="p-1 rz-background-color-primary-lighter rz-text-align-center rz-m-12">
                <a id=@answer.Question?.Id />
                <RadzenText TextStyle="TextStyle.Body1">@answer.Question?.Description</RadzenText>
                <RadzenRating @bind-Value=@answer.Score Stars="5" />
            </RadzenCard>
        }

        <RadzenCard class="p-1 rz-background-color-secondary-lighter rz-text-align-center rz-m-12">
            <RadzenText TextStyle="TextStyle.Body1">Verstuur jouw antwoorden</RadzenText>
            <button @onclick="OnSentClicked">Versturen</button>
        </RadzenCard>
    </RadzenStack>
}
else if (_scores != null)
{
    <Radarchart ScoreCategory1="_score1" ScoreCategory2="_score2" ScoreCategory3="_score3" ScoreCategory4="_score4" />
}
